<mat-toolbar class="mat-elevation-z6 toolbar-header">
    <span class="toolbar-logo">
        <fa-icon [icon]="['fas', 'money-bill-alt']" size="2x"></fa-icon>
    </span>
    <button mat-button routerLink="crea-fattura">Crea Fattura</button>
    <button mat-button routerLink="rubrica">Rubrica</button>
    <button mat-button routerLink="archivio">Archivio</button>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button>
        <fa-icon [icon]="['fas', 'user']" size="lg"></fa-icon>
    </button>
</mat-toolbar>