.pageviewer-header {
    background-color: #3f50b5;
    color: #ffffff;
    padding-left: 20px;
}

.pageviewer-header h1 {
    font-weight: 300;
    margin: 0;
    padding: 28px 8px;
    font-size: 20px;
}