<mat-horizontal-stepper [linear]="false">
  <mat-step label="Intestazione">
      <app-crea-fattura-intestazione></app-crea-fattura-intestazione>
      <div class="crea-fattura-intestazione-stepper-buttons">
        <button mat-button matStepperNext class="mat-elevation-z1">Avanti</button>
      </div>
  </mat-step>
  <mat-step label="Compilazione">
    Content 3
    <div class="crea-fattura-intestazione-stepper-buttons">
      <button mat-button matStepperPrevious class="mat-elevation-z1">Indietro</button>
      <button mat-button class="mat-elevation-z1">Salva</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>