.crea-fattura-intestazione-form {
    display: inline-block;
    margin: 0 20px;
    width: calc(50% - 100px);
    min-width: 200px;
    min-height: 300px;
    vertical-align: top;
    margin-top: 16px;
}

.crea-fattura-intestazione-form mat-form-field,
.crea-fattura-intestazione-form mat-radio-group {
    display: block;
    width: 100%;
}

.crea-fattura-intestazione-form mat-radio-group {
    margin-top: 16px;
}

.crea-fattura-intestazione-form mat-radio-group mat-radio-button {
    display: block;
    width: 40%;
    min-width: 200px;
    margin-top: 6px;
}

.crea-fattura-intestazione-stepper-buttons {
    margin-top: 16px;
    text-align: right;
    padding: 3px 16px;
}

.crea-fattura-intestazione-stepper-buttons button {
    margin-left: 6px;
}