.fattura-prodotti,
.fattura-acquisti {
    display: inline-block;
    margin: 0 20px;
    min-width: 200px;
    min-height: 300px;
    vertical-align: top;
    margin-top: 16px;
}

/** Prodotti ------------------------ **/
.fattura-prodotti {
    max-width: 345px;
}

.fattura-prodotti-content button.precompiled-product {
    display: inline-block;
    height: 36px;
    margin-right: 16px;
    margin-top: 6px;
    width: 155px;
}

/** Acquisti ------------------------ **/
.fattura-acquisti {
    width: calc(100% - 425px);
    min-width: 550px;
    /** border-left: 1px solid rgba(0,0,0,.12); */
}

/** Content **/
.fattura-acquisti .fattura-acquisti-content {
    padding: 20px 10px;
}

.fattura-acquisti .fattura-acquisti-content div {
    display: inline-block;
}

.fattura-acquisti .fattura-acquisti-content div.quantity,
.fattura-acquisti .fattura-acquisti-content div.price {
    width: 15%;
}

.fattura-acquisti .fattura-acquisti-content div.description {
    width: 70%;
}

.fattura-acquisti .fattura-acquisti-content div.quantity input,
.fattura-acquisti .fattura-acquisti-content div.price input {
    max-width: 50px;
}

/** Footer **/
.fattura-acquisti .fattura-acquisti-footer {
    text-align: right;
    padding: 0 40px;
}

.fattura-acquisti .fattura-acquisti-footer div {
    display: inline-block;
    min-height: 50px;
    padding: 5px 3px;
}

.fattura-acquisti .fattura-acquisti-footer div.total-label label {
    font-weight: bold;
}

.fattura-acquisti .fattura-acquisti-footer div.total-value {
    width: 15%;
    text-align: left;
}